doctype html
html
  head
    title UTilia - Psychology for People and the Organization
    
    meta(charset='utf-8')
    meta(name='viewport', content='width=device-width, initial-scale=1.0')
    link(rel='stylesheet', href='//cdnjs.cloudflare.com/ajax/libs/pure/0.5.0/pure-min.css')
    style(type='text/css')
      :stylus
        @import url('//fonts.googleapis.com/css?family=Open+Sans:400+600');

        .open-sans
          font-family 'Open Sans'
          font-weight 400

        _spacer = 5, 10, 20

        for _val in _spacer
          .spacer-{ _val }
            height ( _val * 1px )

        html,
        body
          margin 0
          padding 0
          @extends .open-sans

        .container
          margin 0 auto
          width 400px

        header
          img
            max-width 50%
            width 50%
            height auto
            border none

        .center
          text-align center
        
        .main
          p
            font-size 90%
          .spacer-5
          form
            *
              @extends .open-sans
            label
              font-weight 600
              &.pure-checkbox
                font-weight 400
            input[type='text'],
            input[type='email']
              display block
              width 100%
              &:focus
                border-color #999
            button
              color #fff
              background #2980b9
              border none
              padding 10px 30px
              border-radius 4px
              span
                font-weight 600

        footer
          color #777

  body

    .container
      .spacer-20
      header.center
        img(src='Utilia-HR-Tools-and-Solutions-logo.jpg')
      .spacer-20
      .main
        p.center Compila il modulo seguente per ricevere via e-mail i report.
        .spacer-10
        form#utilia-form.pure-form.pure-form-stacked(method='POST', name='utilia-form', action='https://www.youform.me/api/form/b80098f7-70ab-4ea1-89d1-9bcf37c447c9')
          fieldset
            
            label(for='nome') Nome
            input#nome(name='nome', type='text', placeholder='Nome', required)

            .spacer-10

            label(for='cognome') Cognome
            input#cognome(name='cognome', type='text', placeholder='Cognome', required)    

            .spacer-10

            label(for='email') Indirizzo e-mail
            input#email(name='email', type='text', placeholder='Indirizzo e-mail', required)

            .spacer-10
            label Tools

            - var tools = [{'name': 'Aptitude', 'field': 'aptitude'}, {'name': 'Wave Focus Styles', 'field': 'wave-focus-styles'}, {'name': 'Wave Professional Styles', 'field': 'wave-professional-styles'}, {'name': 'Wave Work Strengths', 'field': 'wave-work-strengths'}, {'name': 'Flora', 'field': 'flora'}, {'name': 'DiSC', 'field': 'disc'}, {'name': 'MyDrive', 'field': 'mydrive'}, {'name': 'VALues', 'field': 'values'}, {'name': 'Utopia', 'field': 'utopia'}, {'name': 'HighLight', 'field': 'highlight'}, {'name': 'Feedback 360°', 'field': 'feedback-360'}, {'name': 'Performance 360°', 'field': 'performance-360'}, {'name': 'Job Profiler', 'field': 'job-profiler'}];

            each tool in tools
              label.pure-checkbox(for='#{tool.field}')
                input(id='#{tool.field}', name='#{tool.field}', type='checkbox')
                | &nbsp;#{tool.name}

            .spacer-20

            .center
              button(type='submit')
                span Invia richiesta
      .spacer-10
      footer.center
        small UTilia - Psychology for People and the Organization
      .spacer-20

    script(type='text/javascript', src='//cdnjs.cloudflare.com/ajax/libs/jquery/2.1.1/jquery.min.js')
    script.
      $(function () {

        $('#utilia-form').submit(function() {
          var form = $(this);
          var requireds = $('input[required]', $(form)).length;
          var notempties = 0;
          $('input[required]', $(form)).each(function(a, b) {
            if ($(b).val().trim().length !== 0) {
              notempties += 1;
            }
          });
          if (notempties !== requireds) {
            return false;
          }
        });

      });